h1 {
  font-family: 'Bungee Outline', cursive;
  border: 3px solid red;
  text-decoration: underline
}
h2 {
  font-family: 'Bungee Outline', cursive;
  color: green;
  border: 1px solid red
}
body {
  background-color: cyan
}
#center {
  text-align: center
}
.allleft {
  text-align: right
}
.allcenter {
  text-align: center;
}
#flash {
  float: left
}
#cnco {
  float: right
}
